APP_NAME=Chest X-ray Assist
APP_ENV=development
APP_DEBUG=true
API_HOST=127.0.0.1
API_PORT=8000

# We will connect this database in Step 2.
DATABASE_URL=mysql+pymysql://root:your_password@localhost:3306/chest_xray_assist

