.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.idea/
.vscode/


uploads/
# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# X-ray dataset
training/dataset/

# Uploaded files
uploads/

# Environment variables
.env